@import "reset/reset";
@import "variables/global";
@import "themes/light";

.app {
  font: var(--font-xl);
  //color: $a//#{$a}  if $a is global
   color: var(--primary-text-color);

}

.app {
  background: var(--bg-color);
  overflow: hidden;
  //margin: 2rem;

}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ff4820; /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  /* цвет плашки */
  background-color: #ce0505;

  border-radius: 5px; /* закругления плашки */
  //border: 2px solid var(--primary-color);
  border: 3px solid #872424; /* padding вокруг плашки */
}
