@import "reset/reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark.scss";

.app {
  font: var(--font-xl);
  //color: $a//#{$a}  if $a is global
  color: var(--primary-text-color);
  background: var(--bg-color);
  //overflow: hidden;
}

.m-1{
  margin: 1rem;
}
.p-1{
  padding: 1rem 2rem;
}
.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  //width: 16px;
  width: 8px;
}
body::-webkit-scrollbar {
  display: none; // https://blog.hubspot.com/website/hide-scrollbar-css
}

*::-webkit-scrollbar-track {
  background: #ff4820; /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  /* цвет плашки */
  background-color: #ce0505;

  border-radius: 5px; /* закругления плашки */
  //border: 2px solid var(--primary-color);
  border: 3px solid #872424; /* padding вокруг плашки */
}
