.navbar{
  display: inline-block;
  //display: flex;

  //flex-direction: column;
  padding: 1.5rem 0rem;
  position: absolute;
  top: 0.5rem; right: 6rem;
}
.svg{
  width: 30px;
  height: 30px;
  //width: 3vw;
  //height: 4vh;
  //overflow: scroll;
}
